@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600&display=swap");

.App {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  height: 618px;
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  position: relative;
}

main {
  width: 414px;
  height: 600px;
  display: flex;
  justify-content: center;
  border-radius: 43px;
  background: #192a32;
  align-items: center;
  margin-bottom: 0.5rem;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.section1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.section2 {
  border-radius: 7px;
  background: #1f3540;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 307px;
  height: 145px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userChoicesButton {
  border-radius: 5px;
  background: #192a32;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 276px;
  height: 45px;
  display: flex;
  /* align-content: center; */
  justify-content: space-evenly;
  align-items: center;
}

.crossButton,
.circleButton {
  background: #192a32;
  border: none;
  padding: 0px;
  width: 127px;
  height: 30px;
}

.circleButton:hover,
.crossButton:hover,
.active {
  border-radius: 8px;
  filter: invert(1) saturate(0);
}

.newGame {
  border-radius: 5px;
  background: #f2b237;
  width: 307px;
  height: 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #192a32;
  margin: 6px;
  border: none;
}

.WithHuman {
  background: #32c4c3;
}

.section4 {
  padding-top: 15px;
}

.inviteButton {
  font-size: 16px;
  color: #192a32;
  font-weight: 600;
  outline: none;
  padding: 4px 30px 4px 30px;
  border-radius: 5px;
  background: #f2b237;
  border: none;
}

.copyClip {
  width: 220px;
  height: 41px;
  border-radius: 10px;
  background: #192a32;
  color: #f2b237;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  position: absolute;
  top: 20px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticker {
  width: 290px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #192a32;
  position: absolute;
  bottom: 0.5rem;
  left: 6rem;
}

.stickerHeading {
  color: #31c4be;

  font-family: DM Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.stickerContain {
  color: #f2b237;
  text-align: center;
  /* font-family: DM Sans; */
  font-size: 24px;
  /* font-style: normal; */
  font-weight: 800;
}

.game {
  display: grid;
}

.gameContainer {
  width: 340px;
}

.gameHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showTurn {
  width: 86px;
  height: 39px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background: #1f3540;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.showTurnPara {
  margin: 3px;
}

.showTurnImg {
  width: 23px;
  height: 27px;
}

.resultSection {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.userSection,
.computerSection,
.tieSection {
  width: 86px;
  height: 49px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user,
.userCount,
.tie,
.tieCount,
.computer,
.computerScore {
  margin: 0px;
}

.user,
.tie,
.computer {
  color: #1e1e1e;
  font-family: DM Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.userCount,
.tieCount,
.computerScore {
  color: #1e1e1e;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.userSection {
  background: #31c4be;
}

.computerSection {
  background: #a8bec9;
}

.tieSection {
  background: #f2b237;
}

.reset {
  background: #192a32;
  border: none;
}

.Logo,
.resetButton {
  padding-top: 10px;
}
.resetButton {
  padding-top: 12px;
}

.cross,
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  border-radius: 10px;
  background: #1f3540;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.crossImg,
.circleImg {
  width: 41px;
  height: 41px;
}

.tile {
  border: none;
  width: 86px;
  height: 86px;
  border-radius: 10px;
  background: #1f3540;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.new-tile {
  width: 86px;
  height: 86px;
}
.board {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
}
.resetInfo {
  position: absolute;
  width: 409px;
  height: 177px;
  background: #192a32;
  flex-shrink: 0;
  position: (50%, -50%);
  top: 35%;
  right: 35%;
  border: none;
}

.resetHeading {
  color: #f2b237;
  text-align: center;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.resetButtons {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.playAgainButton {
  width: 113px;
  height: 33px;
  border-radius: 10px;
  background: #31c4be;
  border: none;
}

.quitButton {
  border: none;
  width: 113px;
  height: 33px;
  border-radius: 10px;
  background: #f2b237;
}
